<body style="text-align: center !important; width: 60%; margin: 0 auto; margin: auto !important; background-image:url('http://bgwall.net/wp-content/uploads/2014/01/Beautiful-Green-Earth-Closeup-Wallpaper.jpg'); color: white;">

<%= form_for(@report) do |f| %>
  <% if @report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@report.errors.count, "error") %> prohibited this report from being saved:</h2>

      <ul>
      <% @report.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!--<div class="field">
    <%= f.label :latitude %><br>
    <%= f.text_field :latitude %>
  </div>
  <div class="field">
    <%= f.label :longitude %><br>
    <%= f.text_field :longitude %>
  </div>-->
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  
  <div class="field">
    Paste Link to <%= f.label :photo %><br>
    <%= f.text_field :photo %>
  </div>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>

<!--
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>-->
  <div class="field">
    Additional <%= f.label :text %> Notes<br>
    <%= f.text_area :text %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

</body>
